<!DOCTYPE html>
<html lang="en">
<head>
	<title>Resolusi Alat</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
    <style type="text/css" rel="stylesheet">
    ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    }
    ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    }
    ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
    }
    ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    }
    ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
    }
    .invoice-title h2, .invoice-title h3 {
    display: inline-block;
    }
    h6 {
    color: red;
    }
    .card {
      display:inline-block;
      width:100%;
    } 
    table {
        text-align: center;
    }
    table thead th {
        text-align: center;
    }
    </style>
    
</head>
<body>
    <div class="container">
      <div class="invoice-title">
        <nav aria-label="breadcrumb" class="main-breadcrumb"><br>
            <h2>Resolusi Alat</h2><br>
        <ul class="breadcrumb">
            <li><a href="{% url 'coretoolcrud:viewListSurvey' %}">Home</a></li>
            <li><a href="{% url 'coretoolcrud:viewListResolusi' %}">List Resolusi Alat</a></li>
            <li>Resolusi Alat Result</li>
        </ul>
          {% if messages %}
          {% for message in messages %}
          {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">
            <h7>{{ message }}</h7>
          </div>
          {% else %}
          <div class="alert alert-{{ message.tags }}" role="alert">
              <h7>{{ message }}</h7>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </nav>
        
     
      <hr>

    </div>

                <table class="table table-hover table-bordered results">
                  <thead>
                    <tr>
                      <th scope="col">Measurement</th>
                      <th scope="col">Identifying Character</th>
                      <th scope="col">Part Information</th>
                      <th scope="col">Statistical Study</th>
                    </tr>
                    
                  </thead>
                  <tbody>
                      <tr>
                          <td>Name: {{ resolusi.resolusi_measurement }}</td>
                          <td>Character: {{ resolusi.resolusi_character }}</td>
                          <td>Date Project: {{ resolusi.resolusi_project_date }}</td>
                          <td>Study Date: {{ resolusi.resolusi_study_date }}</td>
                      </tr>
                      <tr>
                          <td>Serial Number: {{ resolusi.resolusi_sn }}</td>
                          <td>Category: {{ resolusi.resolusi_category }}</td>
                          <td>Part Number: {{ resolusi.resolusi_part_number }}</td>
                          <td>Reason For Rev: {{ resolusi.resolusi_reason }}</td>
                      </tr>
                      <tr>
                          <td>Resolution: {{ resolusi.resolusi_res }}</td>
                          <td>Process Name: {{ resolusi.resolusi_process_name }}</td>
                          <td>Part Name: {{ resolusi.resolusi_part_name }}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>Unit: {{ resolusi.resolusi_unit }}</td>
                          <td>Symbol: {{ resolusi.resolusi_symbol }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>Next Calibration Date: {{ resolusi.resolusi_next_cal }}</td>
                          <td>Control Plan Number: {{ resolusi.resolusi_cpn }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>Range (Max to Min): {{ resolusi.resolusi_range_max }} to {{ resolusi.resolusi_range_min }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>FMEA Number: {{ resolusi.resolusi_fmea }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                  </tbody>
                </table>

                <table class="table table-hover table-bordered results">
                  <thead>
                    
                    <tr>
                      <th scope="col">Unit: {{resolusi.resolusi_unit}}</th>
                      <th scope="col">Number of Subgroup: {{resolusi.resolusi_subgroup}}</th>
                      <th scope="col">Resolusi Pada Alat: {{resolusi.resolusi_res}}</th>
                      <th scope="col"></th>
                    </tr>
                    <tr>
                      <th scope="col">Std Dev: {{stdev|floatformat:2}}</th>
                      <th scope="col">Rbar / d2: {{stdevd2|floatformat:2}}</th>
                      <th scope="col">Var (6 * Std dev): {{var|floatformat:2}}</th>
                      <th scope="col">Var (6 * Rbar / d2): {{vard2|floatformat:2}}</th>
                    </tr>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col">Measured By: {{resolusi.resolusi_measured}}</th>
                      <th scope="col">Reviewed By: {{resolusi.resolusi_reviewed}}</th>
                    </tr>
                  </thead>
                  <tbody>
                      
                    
                    
                      
                  </tbody>
                </table>

                
                  
                    <h6>Measurement</h6>
                    <table class="table table-hover table-bordered results" id="table">
                      <thead>
                        <tr>
                          <td scope="col">Days</td>
                          {% for i in subs %}
                            <td scope="col">{{i}}</td>
                          {% endfor %}
                        </tr>
                       
                      </thead>
                      <tbody>
                    

                        {% for k, l in gabung %} 
                        <tr>
                          <td>{{ k }}</td>
                          {% for j in l %}
                          <td>{{j}}</td>
                          {% endfor %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                   

                    
                      <!-- <div class="card">
                        
                        <div class="card-body">
                          
                          {{divxbar| safe}}
                          <br><br><br>
                         
                         
                        </div>
                      </div>
                      <br><br> -->

                      <!-- <div class="card">
                        
                        <div class="card-body">
                          
                          {{divr| safe}}
                          <br><br><br>
                         
                         
                        </div>
                      </div>
                      <br><br>
                     
                      <div class="card">
                        <h5 class="card-header">Recommendation</h5>
                        <div class="card-body">
                          
  
                          <label for="exampleInputPassword1">Resume Stability of Process</label>
                             
                          <br>
                          <h6>{{vxbarr.vxbarr_stability}}</h6><br><br>

                          <label for="exampleInputPassword1">Resume Capability of Process</label>
                             
                          <br>
                          <h6>{{vxbarr.vxbarr_capability}}</h6><br>
                          
  
                        </div>
  
                      </div>
                      <br><br> -->
                    
                      <a href="{% url 'coretoolcrud:deleteResolusi' resolusi.id %}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                      <a href="{% url 'coretoolcrud:viewPrintResolusi' resolusi.id %}" class="btn btn-info">Print</a>
                      <br><br>

        </div>
        
    </div>

</body>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
<!-- {{scriptxbar| safe}}
{{scriptr| safe}} -->
</html>

