<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resolusi Alat</title>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% comment %} <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% endcomment %}
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      
      <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
      <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css" rel="stylesheet">

      <style type="text/css" rel="stylesheet">
    body{
  padding:20px 20px;
}
.col-xs-6{
    display:inline-block;
}

.counter{
  padding:8px; 
  color:#ccc;
}

.float-right{
  margin-left:10px;
}
      </style>
      
  </head>
  <body>
    <div class="container">
        <div class="invoice-title">
            <nav aria-label="breadcrumb" class="main-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'coretoolcrud:viewListSurvey' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Resolusi Alat List</li>
              </ol>
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                  <h7>{{ message }}</h7>
              </div>
              {% endfor %}
              {% endif %}
            </nav>
            <h2>List Resolusi Alat</h2>
         
          <hr>

          <div class="form-group float-left">
            <h6>Welcome, {{ request.session.user }} from {{ request.session.company }}</h6>

            </div>
          <div class="form-group float-right">
            <a href="{% url 'coretoolcrud:logout' %}" class="btn btn-danger float-right"><span>Logout</span></a>
            <a href="{% url 'coretoolcrud:viewListSurvey' %}" class="btn btn-info float-right"><span>List Survey</span></a>
            <a href="{% url 'coretoolcrud:viewResolusi' 0 %}" class="btn btn-primary float-right"><span>Resolusi Alat</span></a><br><br>
            {% comment %} <br><input type="text" class="search form-control" placeholder="Search"> {% endcomment %}
            
        </div>

          
    <br>
    <br>
    <br>
    <br>
    <span class="counter pull-right"></span>
    {% comment %} <table class="table table-hover table-bordered results"> {% endcomment %}
      <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0" width="99.9%">
      <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Part Info</th>
            <th scope="col">Process Name</th>
            <th scope="col">Part Name</th>
            <th scope="col">Measurement Name</th>
            <th scope="col">Category</th>
            <th scope="col">Part Number</th>
            <th scope="col">Detail</th>
            <th scope="col">Delete</th>

        </tr>
        {% comment %} <tr class="warning no-result">
          <td colspan="9"><i class="fa fa-warning"></i> No result</td>
        </tr> {% endcomment %}
      </thead>
      <tbody>
        {% for resolusi_list in resolusi %}
        <tr>
          <td>{{ resolusi_list.id }}</td>
          <td>{{ resolusi_list.resolusi_part_name}}</td>
          <td>{{ resolusi_list.resolusi_process_name }}</td>
          <td>{{ resolusi_list.resolusi_part_name }}</td>
          <td>{{ resolusi_list.resolusi_measurement }}</td>
          <td>{{ resolusi_list.resolusi_category }}</td>
          <td>{{ resolusi_list.resolusi_part_number }}</td>
          <td><a href="{% url 'coretoolcrud:viewResolusi' resolusi_list.id %}" class="btn btn-info">Detail</a></td>
          <td><a href="{% url 'coretoolcrud:deleteResolusi' resolusi_list.id %}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></td>
        </tr>
        {% endfor %}
        
        
      </tbody>
    </table>
    </div>
  <script>
    $(document).ready(function() {
      $('#example').DataTable();
    
      
    });

  </script>
  </body>

</html>


