<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Corrective Action Report</title>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <!-- <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script> -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
      <style>
        ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
        background-color: #eee;
        }
        ul.breadcrumb li {
        display: inline;
        font-size: 18px;
        }
        ul.breadcrumb li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
        }
        ul.breadcrumb li a {
        color: #0275d8;
        text-decoration: none;
        }
        ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
        }
        .separator {
        display: flex;
        align-items: center;
        text-align: center;
        }

        .separator::before,
        .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
        }

        .separator:not(:empty)::before {
        margin-right: .25em;
        }

        .separator:not(:empty)::after {
        margin-left: .25em;
        }
      </style>
    
    </head>
<body>
    


    <div class="container py-2">

        <div class="invoice-title">
            <nav aria-label="breadcrumb" class="main-breadcrumb"><br>
                <h2>Edit Study Survey</h2><br>
            <ul class="breadcrumb">
                <li><a href="{% url 'coretoolcrud:viewListSurvey' %}">Home</a></li>
                <li><a href="{% url 'coretoolcrud:viewListSurvey' %}">List Survey</a></li>
                <li>Edit Study Survey</li>
            </ul>
              {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" role="alert">
                <h7>{{ message }}</h7>
              </div>
              {% else %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                  <h7>{{ message }}</h7>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
            </nav>
            
         
          <hr>
    
        </div>
        <form action="{% url 'coretoolcrud:storeEditManual' survey.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="row" data-masonry='{"percentPosition": true }'>
            <div class="col-sm-3 col-md-4 py-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="card-title">1. Measurement</h3><hr>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input class="form-control" name="survey_name" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_name}}" required />
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">Serial Number</label>
                            <input class="form-control" name="survey_sn" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_sn}}" required />
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">Resolution</label>
                            <input class="form-control" name="survey_resolution" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_resolution}}" required />
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">Unit</label>
                            <input class="form-control" name="survey_unit" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_unit}}" required />
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">Next Calibration Date</label>
                            <input class="form-control" name="survey_next_cal" id="demoFormHorizontalEmail" type="date" value={{survey.survey_next_cal|date:'Y-m-d'}} required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 py-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="card-title">2. Identifying Character</h3><hr>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Character</label>
                            <input class="form-control" name="survey_character" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_character}}" required />
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputPassword1">Category</label>
                            <select name="survey_category" id="demoSelectbox" class="form-control">
                                <option value="" disabled hidden>Please Choose</option>
                                <option {% if survey.survey_category == "Process" %} selected="selected" {% endif %}>Process</option>
                                <option {% if survey.survey_category == "Product" %} selected="selected" {% endif %}>Product</option>
                            </select>
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">Process Name</label>
                            <input class="form-control" name="survey_process_name" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_process_name}}" required />
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">Symbol</label>
                            <input class="form-control" name="survey_symbol" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_symbol}}" required />
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">Reference</label>
                            <input class="form-control" name="survey_ref" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_ref}}" required />
                        </div>
                        <div class="row">
                            <div class="col"><br>
                                <label for="inputEmail4">Max Range Spec</label>
                                <input type="text" class="form-control" name="survey_range_max" id="inputEmail4" value="{{survey.survey_range_max}}" placeholder="Max">      
                            </div>
                            <div class="col"><br>
                                <label for="inputEmail4">Min Range Spec</label>
                                <input type="text" class="form-control" name="survey_range_min" id="inputPassword4" value="{{survey.survey_range_min}}" placeholder="Min">    
                            </div>
                          </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">FMEA Number</label>
                            <input class="form-control" name="survey_fmea" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_fmea}}" required />
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">Control Plan Number</label>
                            <input class="form-control" name="survey_control_plan" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_control_plan}}" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 py-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="card-title">3. Part Information</h3><hr>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Date Project</label>
                            <input class="form-control" name="survey_date_project" id="demoFormHorizontalEmail" type="date" value={{survey.survey_date_project|date:'Y-m-d'}} required />
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">Customer Name</label>
                            <input class="form-control" name="survey_cust_name" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_cust_name}}" required />
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">Part Name</label>
                            <input class="form-control" name="survey_part_name" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_part_name}}" required />
                        </div>
                        <div class="form-group"><br>
                            <label for="exampleInputEmail1">Part Number</label>
                            <input class="form-control" name="survey_part_number" id="demoFormHorizontalEmail" type="text" value="{{survey.survey_part_number}}" required />
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 py-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="card-title">4. Statistical Study</h3><hr>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Plan Date</label>
                            <input class="form-control" name="survey_plan" id="demoFormHorizontalEmail" type="date" value={{survey.survey_plan|date:'Y-m-d'}} required />
                        </div>
                        <!-- <div class="form-group"><br>
                            <label for="exampleInputEmail1">Actual Date</label>
                            <input class="form-control" name="survey_actual" id="demoFormHorizontalEmail" type="date" required />
                        </div> -->
                        <div class="form-group"><br>
                            <label for="exampleInputPassword1">Reason For Rev</label>
                            <select name="survey_reason" id="demoSelectbox" class="form-control">
                                <option value="" disabled hidden>Please Choose</option>
                                <option {% if survey.survey_reason == "New Model" %} selected="selected" {% endif %}>New Model</option>
                                <option {% if survey.survey_reason == "Change" %} selected="selected" {% endif %}>Change</option>
                                <option {% if survey.survey_reason == "Massprod Monitoring" %} selected="selected" {% endif %}>Massprod Monitoring</option>
                                <option {% if survey.survey_reason == "Problem" %} selected="selected" {% endif %}>Problem</option>
                                <option {% if survey.survey_reason == "External Request" %} selected="selected" {% endif %}>External Request</option>
                                <option {% if survey.survey_reason == "Control Plan" %} selected="selected" {% endif %}>Control Plan</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 py-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="card-title">5. Choose The Study</h3><hr>
                        <div class="separator">MSA Variable</div><br>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="Bias" {% if "Bias" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                Bias
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="Linearity" {% if "Linearity" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                Linearity
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="Stability" {% if "Stability" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                Stability
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="GRR Nested" {% if "GRR Nested" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                GRR Nested
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="GRR Xbar-R" {% if "GRR Xbar-R" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                GRR Xbar R
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="GRR Anova" {% if "GRR Anova" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                GRR Anova
                            </label>
                        </div>
                        <br><div class="separator">SPC Variable</div><br>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="I-MR" {% if "I-MR Chart" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                I-MR Chart
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="Xbar-S" {% if "Xbar-S" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                Xbar-S   
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="Median-R" {% if "Median-R" in survey.survey_study %} checked {% endif %}> 
                            <label class="form-check-label" for="gridCheck1">
                                Median-R    
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="Xbar-R" {% if "Xbar-R" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                Xbar-R    
                            </label>
                        </div>
                        <br><div class="separator">MSA Attribute</div><br>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="Kendall" {% if "Kendall" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                Kendall
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="Fleis Kappa" {% if "Fleis Kappa" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                Fleiss Kappa
                            </label>
                        </div>
                        <br><div class="separator">SPC Attribute</div><br>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="U Chart" {% if "U Chart" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                U Chart
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="C Chart" {% if "C Chart" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                C Chart
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="P Chart" {% if "P Chart" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                P Chart
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="survey_study" type="checkbox" id="gridCheck1" value="NP Chart" {% if "NP Chart" in survey.survey_study %} checked {% endif %}>
                            <label class="form-check-label" for="gridCheck1">
                                NP Chart
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-4 py-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="card-title">6. Confirm</h3><hr>
                        <p class="card-text">Check your input carefully before you commit save data</h7>
                        <br><br><button type="submit" class="btn btn-outline-secondary">Save</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>


    <script>
        function check() {
            if (document.getElementById('att_main').checked) {
                document.getElementById('att_pu0').disabled = false;
                document.getElementById('att_pu1').disabled = false;
                document.getElementById('att_qty0').disabled = false;
                document.getElementById('att_qty1').disabled = false;
                document.getElementById('att_cat0').disabled = false;
                document.getElementById('att_cat1').disabled = false;
                document.getElementById('var_wb0').disabled = true;
                document.getElementById('var_wb1').disabled = true;
                document.getElementById('var_bo0').disabled = true;
                document.getElementById('var_bo1').disabled = true;
                document.getElementById('var_var0').disabled = true;
                document.getElementById('var_var1').disabled = true;
                document.getElementById('var_ps0').disabled = true;
                document.getElementById('var_ps1').disabled = true;
                document.getElementById('var_h0').disabled = true;
                document.getElementById('var_h1').disabled = true;
                document.getElementById('var_rev0').disabled = true;
                document.getElementById('var_rev1').disabled = true;
                document.getElementById('var_ave0').disabled = true;
                document.getElementById('var_ave1').disabled = true;
                document.getElementById('var_subgroup0').disabled = true;
                document.getElementById('var_subgroup1').disabled = true;
            }
            else if (document.getElementById('var_main').checked) {
              document.getElementById('att_pu0').disabled = true;
                document.getElementById('att_pu1').disabled = true;
                document.getElementById('att_qty0').disabled = true;
                document.getElementById('att_qty1').disabled = true;
                document.getElementById('att_cat0').disabled = true;
                document.getElementById('att_cat1').disabled = true;
                document.getElementById('var_ave0').disabled = true;
                document.getElementById('var_ave1').disabled = true;
                document.getElementById('var_subgroup0').disabled = true;
                document.getElementById('var_subgroup1').disabled = true;
                document.getElementById('var_rev0').disabled = true;
                document.getElementById('var_rev1').disabled = true;
                document.getElementById('var_ps0').disabled = true;
                document.getElementById('var_ps1').disabled = true;
                document.getElementById('var_wb0').disabled = false;
                document.getElementById('var_wb1').disabled = false;
                document.getElementById('var_bo0').disabled = false;
                document.getElementById('var_bo1').disabled = false;
                document.getElementById('var_var0').disabled = false;
                document.getElementById('var_var1').disabled = false;
                if (document.getElementById('var_var0').checked) {
                    document.getElementById('var_ps0').disabled = false;
                    document.getElementById('var_ps1').disabled = false;
                }
                if (document.getElementById('var_var1').checked) {
                    document.getElementById('var_ps0').disabled = true;
                    document.getElementById('var_ps1').disabled = true;
                    document.getElementById('var_rev0').disabled = true;
                    document.getElementById('var_rev1').disabled = true;
                }
                document.getElementById('var_h0').disabled = false;
                document.getElementById('var_h1').disabled = false;
                if (document.getElementById('var_h0').checked) {
                    document.getElementById('var_subgroup0').disabled = true;
                    document.getElementById('var_subgroup1').disabled = true;
                }
                if (document.getElementById('var_h1').checked) {
                    document.getElementById('var_subgroup0').disabled = false;
                    document.getElementById('var_subgroup1').disabled = false;
                }
                if (document.getElementById('var_ps0').checked) {
                    document.getElementById('var_rev0').disabled = false;
                    document.getElementById('var_rev1').disabled = false;
                }
                if (document.getElementById('var_ps1').checked) {
                    document.getElementById('var_rev0').disabled = true;
                    document.getElementById('var_rev1').disabled = true;
                }
                if (document.getElementById('var_subgroup0').checked) {
                    document.getElementById('var_ave0').disabled = false;
                    document.getElementById('var_ave1').disabled = false;
                }
                if (document.getElementById('var_subgroup1').checked) {
                    document.getElementById('var_ave0').disabled = true;
                    document.getElementById('var_ave1').disabled = true;
                }
  
            }
        }
        
    </script>
</body>
</html>