<!DOCTYPE html>
<html lang="en">
<head>
	<title>I-MR</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
    <style type="text/css" rel="stylesheet">
    ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    }
    ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    }
    ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
    }
    ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    }
    ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
    }
    .invoice-title h2, .invoice-title h3 {
    display: inline-block;
    }
    h6 {
    color: red;
    }
    .card {
      display:inline-block;
      width:100%;
    } 
    table {
        text-align: center;
    }
    table thead th {
        text-align: center;
    }
    </style>
    
</head>
<body>
    <div class="container">
      <div class="invoice-title">
        <nav aria-label="breadcrumb" class="main-breadcrumb"><br>
            <h2>I-MR</h2><br>
        <ul class="breadcrumb">
            <li><a href="{% url 'coretoolcrud:viewListSurvey' %}">Home</a></li>
            <li><a href="{% url 'coretoolcrud:viewListSurvey' %}">List Survey</a></li>
            <li><a href="{% url 'coretoolcrud:viewDetailSurvey' imr.imr_survey_id %}">Survey Result</a></li>
            <li>I-MR Result</li>
        </ul>
          {% if messages %}
          {% for message in messages %}
          {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">
            <h7>{{ message }}</h7>
          </div>
          {% else %}
          <div class="alert alert-{{ message.tags }}" role="alert">
              <h7>{{ message }}</h7>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </nav>
        
     
      <hr>

    </div>

                <table class="table table-hover table-bordered results">
                  <thead>
                    <tr>
                      <th scope="col">Measurement</th>
                      <th scope="col">Identifying Character</th>
                      <th scope="col">Part Information</th>
                      <th scope="col">Statistical Study</th>
                    </tr>
                    
                  </thead>
                  <tbody>
                      <tr>
                          <td>Name: {{ survey.survey_name }}</td>
                          <td>Character: {{ survey.survey_character }}</td>
                          <td>Date Project: {{ survey.survey_date_project }}</td>
                          <td>Plan Date: {{ survey.survey_plan }}</td>
                      </tr>
                      <tr>
                          <td>Serial Number: {{ survey.survey_sn }}</td>
                          <td>Category: {{ survey.survey_category }}</td>
                          <td>Customer Name: {{ survey.survey_cust_name }}</td>
                          <td>Actual Date: {{ survey.survey_actual }}</td>
                      </tr>
                      <tr>
                          <td>Resolution: {{ survey.survey_resolution }}</td>
                          <td>Process Name: {{ survey.survey_process_name }}</td>
                          <td>Part Name: {{ survey.survey_part_name }}</td>
                          <td>Reason For Rev: {{ survey.survey_reason }}</td>
                      </tr>
                      <tr>
                          <td>Unit: {{ survey.survey_unit }}</td>
                          <td>Symbol: {{ survey.survey_symbol }}</td>
                          <td>Part Number: {{ survey.survey_part_number }}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>Next Calibration Date: {{ survey.survey_next_cal }}</td>
                          <td>Reference: {{ survey.survey_ref }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>Range (Max to Min): {{ survey.survey_range_max }} to {{ survey.survey_range_min }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>FMEA Number: {{ survey.survey_fmea }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>Control Plan Number: {{ survey.survey_control_plan }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                  </tbody>
                </table>

                <table class="table table-hover table-bordered results">
                  <thead>
                    
                    <tr>
                        <th scope="col">LSL: {{imr.imr_lsl}}</th>
                        <th scope="col">USL: {{imr.imr_usl}}</th>
                        <th scope="col">Num of subgroup: {{imr.imr_subgroup}}</th>
                        <th scope="col"></th>
                    </tr>
                    <tr>
                        <th scope="col">Cp: {{cp|floatformat:2}}</th>
                        <th scope="col">Cpk: {{cpk|floatformat:2}}</th>
                        <th scope="col">Pp: {{pp|floatformat:2}}</th>
                        <th scope="col">Ppk: {{ppk|floatformat:2}}</th>
                    </tr>
                    <tr>
                        <th scope="col">USL - Xbar2: {{usllsl.0|floatformat:2}}</th>
                        <th scope="col">Xbar2 - LSL: {{usllsl.1|floatformat:2}}</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                      
                    
                    
                      
                  </tbody>
                </table>

                
                  
                    <h6>Measurement</h6>
                    <table class="table table-hover table-bordered results" id="table">
                      <thead>
                        <tr>
                          <td scope="col">Days</td>
                          
                            <td scope="col">Data</td>
                        
                        </tr>
                       
                      </thead>
                      <tbody>
                    

                        {% for k, l in gabung %} 
                        <tr>
                          <td>{{ k }}</td>
                        
                          <td>{{l}}</td>
                        
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                   

                    
                      <div class="card">
                        
                        <div class="card-body">
                          
                          {{divxbar| safe}}
                          <br><br><br>
                         
                         
                        </div>
                      </div>
                      <br><br>

                      <div class="card">
                        
                        <div class="card-body">
                          
                          {{divsd| safe}}
                          <br><br><br>
                         
                         
                        </div>
                      </div>
                      <br><br>
                      <form action="{% url 'coretoolcrud:storeCommentImr' imr.id imr.imr_survey_id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="card">
                        <h5 class="card-header">Recommendation</h5>
                        <div class="card-body">
                          
  
                          <label for="exampleInputPassword1">Resume Stability of Process</label>
                             
                          <br>
                          <input class="form-check-input" name="imr_stability" type="checkbox" id="gridCheck1" value="Process Stable">
                          <label class="form-check-label" for="gridCheck1">
                            Process Stable
                          </label><br>
                          <input class="form-check-input" name="imr_stability" type="checkbox" id="gridCheck1" value="Process Not Stable">
                          <label class="form-check-label" for="gridCheck1">
                            Process Not Stable
                          </label><br><br>

                          <label for="exampleInputPassword1">Resume Capability of Process</label>
                             
                          <br>
                          <input class="form-check-input" name="imr_capability" type="checkbox" id="gridCheck1" value="Capable">
                          <label class="form-check-label" for="gridCheck1">
                            Capable
                          </label><br>
                          <input class="form-check-input" name="imr_capability" type="checkbox" id="gridCheck1" value="Not Capable">
                          <label class="form-check-label" for="gridCheck1">
                            Not Capable
                          </label><br>
                          <input class="form-check-input" name="imr_capability" type="checkbox" id="gridCheck1" value="Capable But Need Adjustment">
                          <label class="form-check-label" for="gridCheck1">
                            Capable But Need Adjustment
                          </label><br>
                          
  
                        </div>
  
                      </div>
                      <br><br>
                    
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <br><br>

        </div>
        
    </div>

</body>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
{{scriptxbar| safe}}
{{scriptsd| safe}}
</html>

