<!DOCTYPE html>
<html lang="en">
<head>
	<title>GRR Xbar R</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
    <style type="text/css" rel="stylesheet">
    ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    }
    ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    }
    ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
    }
    ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    }
    ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
    }
    .invoice-title h2, .invoice-title h3 {
    display: inline-block;
    }
    p {
    font-size: 11px;
    }
    .card {
      display:inline-block;
      width:47%;
      margin-right: 1%;
      margin-left: 1%;
      } 
    .btn{
      margin-right: 1%;
      margin-left: 1%;
    }    
    input{
      margin-top: 1%;
      margin-bottom: 1%;
      margin-right: 1%;
      margin-left: 1%;
    }
    table {
        text-align: center;
    }
    table thead th {
        text-align: center;
    }

    </style>
    
</head>
<body>
    <div class="container">
      <div class="invoice-title">
        <nav aria-label="breadcrumb" class="main-breadcrumb"><br>
          <h2>Linearity</h2><br>
      <ul class="breadcrumb">
        <li><a href="{% url 'coretoolcrud:viewListSurvey' %}">Home</a></li>
        <li><a href="{% url 'coretoolcrud:viewListSurvey' %}">List Survey</a></li>
        <li><a href="{% url 'coretoolcrud:viewDetailSurvey' linearity.linearity_survey_id %}">Survey Result</a></li>
        <li>Fill Linearity Data</li>
      </ul>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
          <p>{{ message }}</p>
        </div>
        {% else %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </nav>
       
        <hr>

      </div>

                  <table class="table table-hover table-bordered results">
                    <thead>
                      <tr>
                        <th scope="col">Measurement</th>
                        <th scope="col">Identifying Character</th>
                        <th scope="col">Part Information</th>
                        <th scope="col">Statistical Study</th>
                      </tr>
                      
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name: {{ survey.survey_name }}</td>
                            <td>Character: {{ survey.survey_character }}</td>
                            <td>Date Project: {{ survey.survey_date_project }}</td>
                            <td>Plan Date: {{ survey.survey_plan }}</td>
                        </tr>
                        <tr>
                            <td>Serial Number: {{ survey.survey_sn }}</td>
                            <td>Category: {{ survey.survey_category }}</td>
                            <td>Customer Name: {{ survey.survey_cust_name }}</td>
                            <td>Actual Date: {{ survey.survey_actual }}</td>
                        </tr>
                        <tr>
                            <td>Resolution: {{ survey.survey_resolution }}</td>
                            <td>Process Name: {{ survey.survey_process_name }}</td>
                            <td>Part Name: {{ survey.survey_part_name }}</td>
                            <td>Reason For Rev: {{ survey.survey_reason }}</td>
                        </tr>
                        <tr>
                            <td>Unit: {{ survey.survey_unit }}</td>
                            <td>Symbol: {{ survey.survey_symbol }}</td>
                            <td>Part Number: {{ survey.survey_part_number }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Next Calibration Date: {{ survey.survey_next_cal }}</td>
                            <td>Reference: {{ survey.survey_ref }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Range (Max to Min): {{ survey.survey_range_max }} to {{ survey.survey_range_min }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>FMEA Number: {{ survey.survey_fmea }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Control Plan Number: {{ survey.survey_control_plan }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                  </table>

                  
                  <table class="table table-hover table-bordered results">
                    <thead>
                      <tr>
                        <th scope="col">Confidence Level: {{linearity.linearity_confidence}}</th>
                        <th scope="col">Working Range (Max to Min): {{linearity.linearity_working_max}} to {{linearity.linearity_working_min}}</th>
                        <th scope="col">Num Measurement (m): {{linearity.linearity_nmeasurement}}</th>
                        <th scope="col">Num Part (g): {{linearity.linearity_npart}}</th>
                        <th scope="col">Reference: {{linearity.linearity_ref}}</th>
                      </tr>
                      <tr>
                        <th scope="col">Measured By: {{linearity.linearity_measured}}</th>
                        <th scope="col">Reviewed By: {{linearity.linearity_reviewed}}</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                      <tr>
                        <th scope="col">Master Measured By: {{linearity.linearity_ave_measured}}</th>
                        <th scope="col">Master Reviewed By: {{linearity.linearity_ave_reviewed}}</th>
                        <th scope="col">Serial Number Gauge: {{linearity.linearity_ave_sn}}</th>
                        <th scope="col">Resolution: {{linearity.linearity_ave_res}}</th>
                        <th scope="col"></th>
                      </tr>
                      
                      
                    </thead>
                    <tbody>
                        
                      
                      
                        
                    </tbody>
                  </table>

                    

                    <form action="{% url 'coretoolcrud:storeCommentLinearity' linearity.linearity_survey_id %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="card">
                      <h5 class="card-header">Featured</h5>
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <img src="data:image/png;base64,{{ biasref }}" alt="Admin"  width="95%", height="50%">
                        <br><br><br>
                        <p>Bias in Gauge is unacceptable since the bias = 0 line does not fall within the confidence bounds
                        <br>Numerically this can be analyzed by looking at the slope and intercept</P>          
                        <!-- <textarea class="form-control" name="linearity_biasref" id="textAreaExample" rows="4">{{ linearity.linearity_biasref }}</textarea> -->
                      </div>
                    </div>

                    
                    <div class="card">
                      <h5 class="card-header">Recommendation</h5>
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        
                        
                        <div class="container1">
                          
                          

                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="linearity_recommendation" value="Repair / needs to be recalibrated to achieve zero bias through the modification of the hardware, software or both.">
                            <label class="form-check-label" for="inlineRadio1">Repair / needs to be recalibrated to achieve zero bias through the modification of the hardware, software or both.</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="linearity_recommendation" value="Gauge / Measurement can be used on range ...">
                        <label class="form-check-label" for="inlineRadio2">Gauge / Measurement can be used on range ...</label>
                      </div>
                      </div>

                      </div>
                    </div>
                    <br><br><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

        </div>
        
    </div>





    <script>
    $(document).ready(function() {
    var max_fields = 20;
    var wrapper = $(".container1");
    var add_button = $(".add_form_field");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        if (x < max_fields) {
            x++;
            $(wrapper).append('<div class="input-group"><input class="form-control" type="text" name="linearity_recommendation"/> <a href="#" class="delete btn btn-danger">Delete</a></div>'); //add input box
        } else {
            alert('You Reached the limits')
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
});
    </script>
</body>
</html>