<!DOCTYPE html>
<html lang="en">
<head>
	<title>GRR Xbar R</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
    <style type="text/css" rel="stylesheet">
    .invoice-title h2, .invoice-title h3 {
    display: inline-block;
    }
    p {
    font-size: 11px;
    }
    .card {
      display:inline-block;
      width:100%;
      margin-right: 1%;
      margin-left: 1%;
    } 
    table {
        text-align: center;
    }
    table thead th {
        text-align: center;
    }
    </style>
    
</head>
<body onload="window.print()">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                  <a class="navbar-brand" href="#">
                    <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="mdb logo">
                  </a>
                <h2>PT. MENCARI CINTA SEJATI</h2><h2 class="float-end">GRR XBAR-R</h3>
                </div>
                <hr>

                <table class="table table-hover table-bordered results">
                    <thead>
                      <tr>
                        <th scope="col">Customer Name: {{ survey.survey_cust_name }}</th>
                        <th scope="col">Part No: {{ survey.survey_part_number }}</th>
                        <th scope="col">Gage Name: JOHANA</th>
                        <th scope="col">Gage Number: 222222222</th>
                        <th scope="col">Gage Type: ROUGHNESS</th>
                      </tr>
                      <tr>
                        <th scope="col">Characteristic: {{ survey.survey_character }}</th>
                        <th scope="col">Date: {{ survey.survey_date_project }}</th>
                        <th scope="col">Performed By:</th>
                        <th scope="col">Num Appraiser: {{xbarr.xbarr_nkaryawan}}</th>
                        <th scope="col">Num Part: {{xbarr.xbarr_npart}}</th>
                      </tr>
                      <tr>
                        <th scope="col">Stdev: {{xbarr.xbarr_stdev}}</th>
                        <th scope="col">Max Stdev: {{xbarr.xbarr_stdevmax}}</th>
                        <th scope="col">Min Stdev: {{xbarr.xbarr_stdevmin}}</th>
                        <th scope="col">Num Trial: {{xbarr.xbarr_ntrial}}</th>
                        <th scope="col"></th>
                      </tr>
                      
                      
                    </thead>
                    <tbody>
                        
                      
                      
                        
                    </tbody>
                  </table>

                  <table class="table table-hover table-bordered results">
                    <thead>
                      <tr>
                        <th scope="col">Measurement Unit Analysis</th>
                        <th scope="col">Compared to TV</th>
                        <th scope="col">Value Comp</th>
                        <th scope="col">% Var Comp</th>
                        <th scope="col">% Tolerance</th>
                        <th scope="col">% Process</th>
                      </tr>
                     
                      
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="col">EV = {{ tabeltambahan.27 }}</td>
                        <td scope="col">% EV = {{ tabeltambahan.2 }}</td>
                        <td scope="col">{{ tabeltambahan.7 }}</td>
                        <td scope="col">{{ tabeltambahan.12 }}</td>
                        <td scope="col">{{ tabeltambahan.17 }}</td>
                        <td scope="col">{{ tabeltambahan.22 }}</td>
                      </tr>
                      <tr>
                        <td scope="col">AV = {{ tabeltambahan.28 }}</td>
                        <td scope="col">% AV = {{ tabeltambahan.3 }}</td>
                        <td scope="col">{{ tabeltambahan.8 }}</td>
                        <td scope="col">{{ tabeltambahan.13 }}</td>
                        <td scope="col">{{ tabeltambahan.18 }}</td>
                        <td scope="col">{{ tabeltambahan.23 }}</td>
                      </tr>
                      <tr>
                        <td scope="col">GRR = {{ tabeltambahan.29 }}</td>
                        <td scope="col">% GRR = {{ tabeltambahan.4 }}</td>
                        <td scope="col">{{ tabeltambahan.9 }}</td>
                        <td scope="col">{{ tabeltambahan.14 }}</td>
                        <td scope="col">{{ tabeltambahan.19 }}</td>
                        <td scope="col">{{ tabeltambahan.24 }}</td>
                      </tr>
                      <tr>
                        <td scope="col">PV = {{ tabeltambahan.30 }}</td>
                        <td scope="col">% PV = {{ tabeltambahan.5 }}</td>
                        <td scope="col">{{ tabeltambahan.10 }}</td>
                        <td scope="col">{{ tabeltambahan.15 }}</td>
                        <td scope="col">{{ tabeltambahan.20 }}</td>
                        <td scope="col">{{ tabeltambahan.25 }}</td>
                      </tr>
                      <tr>
                        <td scope="col">TV = {{ tabeltambahan.0 }}</td>
                        <td scope="col">NDC = {{ tabeltambahan.6 }}</td>
                        <td scope="col">{{ tabeltambahan.11 }}</td>
                        <td scope="col">{{ tabeltambahan.16 }}</td>
                        <td scope="col">{{ tabeltambahan.21 }}</td>
                        <td scope="col">{{ tabeltambahan.26 }}</td>
                      </tr>
                      
                      
                        
                    </tbody>
                  </table>

                  <table class="table table-hover table-condensed mv-20">
                    <thead>
                        <tr>
                        <th scope="col">Jenis</th>
                        <th scope="col">% Study Var</th>
                        <th scope="col">% Contribution</th>
                        <th scope="col">% Tolerance</th>
                        <th scope="col">% Process</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for resume in xbarr.xbarr_resume %}
                        <tr>
                        <td>{{ resume.0 }}</td>
                        <td>{{ resume.1 }}</td>
                        <td>{{ resume.2 }}</td>
                        <td>{{ resume.3 }}</td>
                        <td>{{ resume.4 }}</td>
                        </tr>
                        {% endfor %}
        
                    </table>

                    <table class="table table-hover table-bordered results" id="table">
                      <thead>
                        <tr>
                          <td scope="col">Nama</td>
                          {% for i in part1 %}
                            <td scope="col">P-{{i}}</td>
                          {% endfor %}
                        </tr>
                       
                      </thead>
                      <tbody>
                    

                        {% for k, l in gabung %} 
                        {% for j in k %} 
                        <tr>
                          <td>{{ l }}</td>
                          {% for i in j %}
                          <td>{{i}}</td>
                          {% endfor %}
                        </tr>
                        {% endfor %}
                        {% endfor %}
                      </tbody>
                    </table>

                    <div class="card">
                        <h5 class="card-header">Featured</h5>
                        <div class="card-body">
                          <h6 class="card-subtitle text-muted">Card subtitle</h6>
                          <img src="data:image/png;base64,{{ rva }}" alt="Admin"  width="95%", height="25%">
                          <br><br><br>
                          <p>GRR &lt; 10% or  10 &lt;= GRR &lt;=30
                          <br>NDC &gt; 5 Need Correction</p>
                          <p>Comment:          
                          <br>{{ xbarr.xbarr_psvc }}</p>
                        </div>
                      </div>
  
                      

                      <br><br>
                    
                    <a href="{% url 'coretoolcrud:deleteGrrXbarr' xbarr.xbarr_survey_id %}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                    <br><br>
        </div>
        
    </div>

</body>
</html>

