<!DOCTYPE html>
<html lang="en">
<head>
	<title>GRR Xbar R</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
    <style type="text/css" rel="stylesheet">
    ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    }
    ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    }
    ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
    }
    ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    }
    ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
    }
    .invoice-title h2, .invoice-title h3 {
    display: inline-block;
    }
    h6 {
    color: red;
    }
    .card {
      display:inline-block;
      width:100%;
      } 
    .btn{
      margin-right: 1%;
      margin-left: 1%;
    }    
    input{
      margin-top: 1%;
      margin-bottom: 1%;
      margin-right: 1%;
      margin-left: 1%;
    }
    table {
        text-align: center;
    }
    table thead th {
        text-align: center;
    }

    </style>
    
</head>
<body>
    <div class="container">
      <div class="invoice-title">
        <nav aria-label="breadcrumb" class="main-breadcrumb"><br>
          <h2>GRR Xbar-R</h2><br>
      <ul class="breadcrumb">
        <li><a href="{% url 'coretoolcrud:viewListSurvey' %}">Home</a></li>
        <li><a href="{% url 'coretoolcrud:viewListSurvey' %}">List Survey</a></li>
        <li><a href="{% url 'coretoolcrud:viewDetailSurvey' xbarr.xbarr_survey_id %}">Survey Result</a></li>
        <li>Fill GRR Xbar-R Data</li>
      </ul>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
          <h7>{{ message }}</h7>
        </div>
        {% else %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <h7>{{ message }}</h7>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </nav>
       
        <hr>

      </div>

                <table class="table table-hover table-bordered results">
                  <thead>
                    <tr>
                      <th scope="col">Measurement</th>
                      <th scope="col">Identifying Character</th>
                      <th scope="col">Part Information</th>
                      <th scope="col">Statistical Study</th>
                    </tr>
                    
                  </thead>
                  <tbody>
                      <tr>
                          <td>Name: {{ survey.survey_name }}</td>
                          <td>Character: {{ survey.survey_character }}</td>
                          <td>Date Project: {{ survey.survey_date_project }}</td>
                          <td>Plan Date: {{ survey.survey_plan }}</td>
                      </tr>
                      <tr>
                          <td>Serial Number: {{ survey.survey_sn }}</td>
                          <td>Category: {{ survey.survey_category }}</td>
                          <td>Customer Name: {{ survey.survey_cust_name }}</td>
                          <td>Actual Date: {{ survey.survey_actual }}</td>
                      </tr>
                      <tr>
                          <td>Resolution: {{ survey.survey_resolution }}</td>
                          <td>Process Name: {{ survey.survey_process_name }}</td>
                          <td>Part Name: {{ survey.survey_part_name }}</td>
                          <td>Reason For Rev: {{ survey.survey_reason }}</td>
                      </tr>
                      <tr>
                          <td>Unit: {{ survey.survey_unit }}</td>
                          <td>Symbol: {{ survey.survey_symbol }}</td>
                          <td>Part Number: {{ survey.survey_part_number }}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>Next Calibration Date: {{ survey.survey_next_cal }}</td>
                          <td>Reference: {{ survey.survey_ref }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>Range (Max to Min): {{ survey.survey_range_max }} to {{ survey.survey_range_min }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>FMEA Number: {{ survey.survey_fmea }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>Control Plan Number: {{ survey.survey_control_plan }}</td>
                          <td></td>
                          <td></td>
                      </tr>
                  </tbody>
                </table>

                <table class="table table-hover table-bordered results">
                    <thead>
                      
                      <tr>
                        <th scope="col">Stdev: {{xbarr.xbarr_stdev}}</th>
                        <th scope="col">Tolerance (Max to Min): {{xbarr.xbarr_stdevmax}} to {{xbarr.xbarr_stdevmin}}</th>
                        <th scope="col">Num Trial: {{xbarr.xbarr_ntrial}}</th>
                        <th scope="col">Num Appraiser: {{xbarr.xbarr_nkaryawan}}</th>
                        <th scope="col">Num Part: {{xbarr.xbarr_npart}}</th>
                        <th scope="col">Performed By: {{xbarr.xbarr_npart}}</th>
                      </tr>
                    
                      
                      
                    </thead>
                    <tbody>
                        
                      
                      
                        
                    </tbody>
                  </table>

                  <h6>Appraiser Name: 
                    
                    {% for j, k in gabung %}
                    {{ j}}
                    {% if k == xbarr.xbarr_nkaryawan %}
                    .
                    {% else %}
                    ,
                    {% endif %}
                    {% endfor %}
                  </h6>

                  <table class="table table-hover table-condensed mv-20">
                    <thead>
                        <tr>
                        <th scope="col">Jenis</th>
                        <th scope="col">% Study Var</th>
                        <th scope="col">% Contribution</th>
                        <th scope="col">% Tolerance</th>
                        <th scope="col">% Process</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for resume in xbarr.xbarr_resume %}
                        <tr>
                        <td>{{ resume.0 }}</td>
                        <td>{{ resume.1 }}</td>
                        <td>{{ resume.2 }}</td>
                        <td>{{ resume.3 }}</td>
                        <td>{{ resume.4 }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <form action="{% url 'coretoolcrud:storeCommentGrrXbarr' xbarr.id %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="card">
                      
                      <div class="card-body">
                        
                        <img src="data:image/png;base64,{{ psvc }}" alt="Admin"  width="95%", height="50%">
                        <br><br><br>
                        <h7>GRR &lt; 10% or  10 &lt;= GRR &lt;=30
                        <br>NDC &gt; 5 Need Correction</h7>          
                        <br><br><h6>Comment :</h6> <textarea class="form-control" name="xbarr_psvc" id="textAreaExample" rows="4">{{ xbarr.xbarr_psvc }}</textarea>
                      </div>
                    </div>
                    <br><br>
                    <div class="card">
                      
                      <div class="card-body">
                        
                        {{divdbs| safe}}
                        <br><br><br>
                        <h7>Standard:
                        <br>- No noise means / tidak ada data aneh
                        <br>- Part variation is small / variasi part kecil
                        <br>- No outlier reading / tidak ada kesalahan ukur</h7>
                        <br><br><h6>Comment :</h6> <textarea class="form-control" name="xbarr_dbs" id="textAreaExample" rows="4">{{ xbarr.xbarr_dbs }}</textarea>
                      </div>
                    </div>
                    <br><br>
                    <div class="card">
                      
                      <div class="card-body">
                        
                        {{divrva| safe}}
                        <br><br><br>
                        <h7>Range value is within UCL/LCL range
                        <br>Nilai R berada di dalam UCL/LCL, yang berarti:
                        <br>- No special cause / Tidak ada special cause
                        <br>- Same method / Metoda ukur sama
                        <br>- Consistency of measurement (repeatability) / pengulangan konsisten</h7>
                        <br><br><h6>Comment :</h6> <textarea class="form-control" name="xbarr_rva" id="textAreaExample" rows="4">{{ xbarr.xbarr_rva }}</textarea>
                      </div>
                    </div>
                    <br><br>
                    <div class="card">
                      
                      <div class="card-body">
                        
                        {{divdba| safe}}
                        <br><br><br>
                        <h7>Standard:
                        <br>Mean line is straight line, ,means / arti garis lurus:
                        <br>- No appraiser may have lower/higher reading than the other / tidak ada operattor punya pembacaan lebih tinggi/ lebih rendah</h7>
                        <br><br><h6>Comment :</h6> <textarea class="form-control" name="xbarr_dba" id="textAreaExample" rows="4">{{ xbarr.xbarr_dba }}</textarea>
                      </div>
                    </div>
                    <br><br>
                    <div class="card">
                      
                      <div class="card-body">
                        
                        {{divxva| safe}}
                        <br><br><br>
                        <h7>Standard:
                        <br>Minimal 50% Xbar fall outside the control (adequate to detect part to part variation / Sufficient Discrimination & controlling the process sample represent the expected process Variation)
                        <br>Minimal 50% Xbarr berada di luar control limit, ini menunjukkan pengukuran dapat mendeteksi variasi (resolusi mencukupi)</h7>
                        <br><br><h6>Comment :</h6> <textarea class="form-control" name="xbarr_xva" id="textAreaExample" rows="4">{{ xbarr.xbarr_xva }}</textarea>
                      </div>
                    </div>
                    <br><br>
                    <div class="card">
                      
                      <div class="card-body">
                        
                        {{divaabp| safe}}
                        <br><br><br>
                        <h7>Standard:
                        <br>There is no tendency for measurement result, Average Position should be random / Tidak ada kecenderungan hasil pengukuran dilihat dari rata-rata pengukuran Part random / tidak ada pola</h7>
                        <br><br><h6>Comment :</h6> <textarea class="form-control" name="xbarr_aabp" id="textAreaExample" rows="4">{{ xbarr.xbarr_aabp }}</textarea>
                      </div>
                    </div>
                    <br><br>
                    
                    <div class="card">
                      <h5 class="card-header">Recommendation</h5>
                      <div class="card-body">
                        {% if ev > av %}
                        <label for="exampleInputPassword1">Repeatability ({{ev}}) is larger than reproducibility ({{av}})</label>
                           
                        <br>
                        <input class="form-check-input" name="xbarr_recommendation" type="checkbox" id="gridCheck1" value="Gage / instrument needs maintenance">
                        <label class="form-check-label" for="gridCheck1">
                          Gage / instrument needs maintenance
                        </label><br>
                        <input class="form-check-input" name="xbarr_recommendation" type="checkbox" id="gridCheck1" value="Gage to be redesigned to be more rigid">
                        <label class="form-check-label" for="gridCheck1">
                          Gage to be redesigned to be more rigid
                        </label><br>
                        <input class="form-check-input" name="xbarr_recommendation" type="checkbox" id="gridCheck1" value="Clampint / location for gaging needs to be improved">
                        <label class="form-check-label" for="gridCheck1">
                          Clampint / location for gaging needs to be improved
                        </label><br>
                        <input class="form-check-input" name="xbarr_recommendation" type="checkbox" id="gridCheck1" value="Change excessive within-part variation">
                        <label class="form-check-label" for="gridCheck1">
                          Change excessive within-part variation
                        </label><br>
                        <input class="form-check-input" id="gridCheck1" type="checkbox" onclick="if (this.checked){ document.getElementById('name2').disabled = false; document.getElementById('name2').focus();}else{document.getElementById('name2').disabled=true;}" />
                        <label class="form-check-label" for="gridCheck1">
                          Other
                        </label><input class="form-control" type="text" id="name2" placeholder="Other" name="xbarr_recommendation" disabled="disabled"/>
                        {% else %}

                        <label for="exampleInputPassword1">Reproducibility ({{av}}) is larger than repeatability ({{ev}})</label>
                           
                        <br>
                        <input class="form-check-input" name="xbarr_recommendation" type="checkbox" id="gridCheck1" value="Train appraiser how to use and read gage">
                        <label class="form-check-label" for="gridCheck1">
                          Train appraiser how to use and read gage
                        </label><br>
                        <input class="form-check-input" name="xbarr_recommendation" type="checkbox" id="gridCheck1" value="Calibration on gage dial need to be reviewed">
                        <label class="form-check-label" for="gridCheck1">
                          Calibration on gage dial need to be reviewed
                        </label><br>
                        <input class="form-check-input" id="gridCheck1" type="checkbox" onclick="if (this.checked){ document.getElementById('name2').disabled = false; document.getElementById('name2').focus();}else{document.getElementById('name2').disabled=true;}" />
                        <label class="form-check-label" for="gridCheck1">
                          Other
                        </label><input class="form-control" type="text" id="name2" placeholder="Other" name="xbarr_recommendation" disabled="disabled"/>

                        {% endif %}
                      </div>
                    </div>
                    
                    <br><br><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

        </div>
        
    </div>





   
</body>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
{{scriptdba| safe}}
{{scriptdbs| safe}}
{{scriptrva| safe}}
{{scriptresume| safe}}
{{scriptaabp| safe}}
{{scriptxva| safe}}
</html>